In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sample_data.csv')
data

,ID,Name,Age,Gender,Phone,Email,Address,Credit_Score,Last_Purchase_Date
0,177,James Rhodes,52.0,M,504.554.3776,fostergina@example.com,"3892 Kathleen Square Apt. 817\nLake Jill, AZ 1...",unknown,2021-09-19
1,984,Kimberly Crawford,56.0,NaN,NaN,krussell@example.com,"51987 Bush Ranch Suite 663\nScottton, PA 03611",700,2023-02-25
2,722,Karen Walker,59.0,M,NaN,kiarapeters@example.net,"29197 Austin Flat\nEast Robertmouth, NE 42823",870,2021-09-17
3,870,Sandra Smith,NaN,M,479.487.9989x242,rodney99@example.net,"185 Le Villages\nPort Johnside, WY 42113",unknown,2021-11-24
4,664,Alison Walsh,77.0,M,001-879-250-3309,denglish@example.com,"295 Matthew Inlet Suite 676\nJohnsonland, NC 4...",unknown,2022-05-08
5,375,Tracy Martinez,41.0,M,510-232-7358x300,dylandominguez@example.com,"7639 Farmer Park Apt. 847\nNew Steven, MA 50197",798,2023-01-31
6,582,Melinda Moore,58.0,F,881.432.9428,john46@example.net,"05765 Jennifer Creek\nCamposland, KS 85868",842,2022-07-17
7,65,William Barnes,NaN,F,2879941085,vancemeredith@example.com,"8243 Burch Fords\nNorth Kennethhaven, WY 90915",793,NaN
8,52,James Smith,NaN,M,(695)406-9894x90477,devinkennedy@example.org,"59692 Lopez Crossing\nNorth Hannah, WY 99739",865,2021-11-22
9,811,Theresa Woods MD,41.0,NaN,5716794807,jacksonjack@example.org,NaN,855,2023-04-10
10,497,Stephanie Mcdonald,78.0,M,(213)445-6777,ugriffin@example.net,"108 Collins Villages Apt. 979\nEast Stephanie,...",715,2021-11-27
11,747,Andrea Jones,42.0,M,+1-400-696-8787x6689,bairdshawna@example.org,"786 Sarah Islands Suite 239\nSchmidtside, PR 0...",844,2023-03-31
12,159,Joshua Odonnell,40.0,F,+1-906-322-0072x276,chicks@example.net,"260 Dunlap Pike\nEscobarville, AR 49939",656,2022-02-27
13,370,Sarah Guerra,43.0,M,(693)989-4358,bheath@example.org,"3529 Stephen Greens\nNorth Wendyfort, KS 86983",832,2023-01-31
14,874,Tara Barr,30.0,F,357.864.0856,nicholasking@example.com,45618 Torres Underpass Suite 584\nSuzanneville...,541,2023-06-25

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  15 non-null     int64
 1   Name                15 non-null     object
 2   Age                 12 non-null     float64
 3   Gender              13 non-null     object
 4   Phone               13 non-null     object
 5   Email               15 non-null     object
 6   Address             14 non-null     object
 7   Credit_Score        15 non-null     object
 8   Last_Purchase_Date  14 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ KB

In [4]:
data['Age'] = data['Age'].astype('Int64')
median_age = data['Age'].median()
median_age = round(median_age)

data['Age'].fillna(median_age,inplace=True)

In [5]:
data['Gender'].fillna('Unknown',inplace=True)
data['Phone'].fillna('Unknown',inplace=True)
data['Address'].fillna('Unknown',inplace=True)

In [6]:
most_recent_date = pd.to_datetime(data['Last_Purchase_Date']).max()
data['Last_Purchase_Date'].fillna(most_recent_date,inplace=True)

In [8]:
data['Credit_Score'] = pd.to_numeric(data['Credit_Score'],
                                    errors='coerce')
mean_credit_score = data['Credit_Score'].mean()

data['Credit_Score'].fillna(mean_credit_score,inplace=True)

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data

,ID,Name,Age,Gender,Phone,Email,Address,Credit_Score,Last_Purchase_Date
0,177,James Rhodes,52,M,504.554.3776,fostergina@example.com,"3892 Kathleen Square Apt. 817\nLake Jill, AZ 1...",775.916667,2021-09-19
1,984,Kimberly Crawford,56,Unknown,Unknown,krussell@example.com,"51987 Bush Ranch Suite 663\nScottton, PA 03611",700.000000,2023-02-25
2,722,Karen Walker,59,M,Unknown,kiarapeters@example.net,"29197 Austin Flat\nEast Robertmouth, NE 42823",870.000000,2021-09-17
3,870,Sandra Smith,48,M,479.487.9989x242,rodney99@example.net,"185 Le Villages\nPort Johnside, WY 42113",775.916667,2021-11-24
4,664,Alison Walsh,77,M,001-879-250-3309,denglish@example.com,"295 Matthew Inlet Suite 676\nJohnsonland, NC 4...",775.916667,2022-05-08
5,375,Tracy Martinez,41,M,510-232-7358x300,dylandominguez@example.com,"7639 Farmer Park Apt. 847\nNew Steven, MA 50197",798.000000,2023-01-31
6,582,Melinda Moore,58,F,881.432.9428,john46@example.net,"05765 Jennifer Creek\nCamposland, KS 85868",842.000000,2022-07-17
7,65,William Barnes,48,F,2879941085,vancemeredith@example.com,"8243 Burch Fords\nNorth Kennethhaven, WY 90915",793.000000,2023-06-25 00:00:00
8,52,James Smith,48,M,(695)406-9894x90477,devinkennedy@example.org,"59692 Lopez Crossing\nNorth Hannah, WY 99739",865.000000,2021-11-22
9,811,Theresa Woods MD,41,Unknown,5716794807,jacksonjack@example.org,Unknown,855.000000,2023-04-10
10,497,Stephanie Mcdonald,78,M,(213)445-6777,ugriffin@example.net,"108 Collins Villages Apt. 979\nEast Stephanie,...",715.000000,2021-11-27
11,747,Andrea Jones,42,M,+1-400-696-8787x6689,bairdshawna@example.org,"786 Sarah Islands Suite 239\nSchmidtside, PR 0...",844.000000,2023-03-31
12,159,Joshua Odonnell,40,F,+1-906-322-0072x276,chicks@example.net,"260 Dunlap Pike\nEscobarville, AR 49939",656.000000,2022-02-27
13,370,Sarah Guerra,43,M,(693)989-4358,bheath@example.org,"3529 Stephen Greens\nNorth Wendyfort, KS 86983",832.000000,2023-01-31
14,874,Tara Barr,30,F,357.864.0856,nicholasking@example.com,45618 Torres Underpass Suite 584\nSuzanneville...,541.000000,2023-06-25